/.idea
/.vscode
/.ipynb_checkpoints
python/.ipynb_checkpoints
math/.ipynb_checkpoints
python/Labs/task_4_1/.ipynb_checkpoints
python/Labs/task_4_2/.ipynb_checkpoints
python/Labs/task_4_4/.ipynb_checkpoints
python/Labs/task_4_6/.ipynb_checkpoints
python/Labs/task_4_7/.ipynb_checkpoints