/.idea
/.vscode
/.ipynb_checkpoints
python/.ipynb_checkpoints
math/.ipynb_checkpoints
python/Labs/task_4_1/.ipynb_checkpoints
python/Labs/task_4_2/.ipynb_checkpoints
python/Labs/task_4_4/.ipynb_checkpoints
python/Labs/task_4_6/.ipynb_checkpoints
python/Labs/task_4_7/.ipynb_checkpoints
python/Labs/Lab_5/task_5_6/.ipynb_checkpoints
python/Labs/Lab_5/task_5_9/text/.ipynb_checkpoints
python/Labs/.ipynb_checkpoints
python/Lectures/Лекция 01/.ipynb_checkpoints
python/Lectures/Лекция 02/.ipynb_checkpoints
python/Lectures/Лекция 03/.ipynb_checkpoints
python/Lectures/Лекция 04/.ipynb_checkpoints
python/Lectures/Лекция 05/.ipynb_checkpoints
python/Lectures/Лекция 06/.ipynb_checkpoints
math/labs/lab_6/.ipynb_checkpoints
math/labs/lab_8/.ipynb_checkpoints
math/labs/.ipynb_checkpoints
math/labs/lab_9/.ipynb_checkpoints
python/Lectures/Лекция 07/.ipynb_checkpoints/ООП-checkpoint.ipynb
