body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    padding: 15px;
    margin: 0;
}

#site-dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}

#payload-slider {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;