/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    color: #333;
}

#dropdowns {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph {
    width: 80%;
    margin: 20px;
}

.label {
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #555;
}